@model RowContViewModel



<div class="row">
    <div class="col-md-3">
        <h2>RowCount view - I need it to understand something related to dependencies' lifetimes, p. 294</h2>
        
            <p>So, we are comparing two values. I am mocking, how many rows are returned from a fake database context</p>
            <p>First is DataContextCount: @Model.DataContextCount</p>
            <p>Second is RepositoryCount: @Model.RepositoryCount</p>
        
    </div>
</div>
