@{
    ViewData["Title"] = "Contact";
    Layout = "_LayoutNested";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@model CurrencyModel



<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="TestBink">
    <div class="form-group">
        <input asp-for="CurrencyIn" />
        <input asp-for="CurrencyOut" />
        <span> asp-validation-for="Currency" </span>
        <input asp-for="Amount" />
        <td><input type="submit" value="Submit" /></td>
        </div>
</form>



