<head>
</head>
<body>
    <div class="row">
        So, let's imagine this is some kind of a page, and it shows two things that I've loaded from a config file:
        @ViewData["Width"] and @ViewData["WordOnPage"]
    </div>
</body>
