<head></head>
<body>
    <div class="row">
        <ol>
            <li><a asp-area="" asp-controller="POC" asp-action="ObjectLifetimes">Row counts (object lifetimes)</a></li>
            <li><a asp-area="" asp-controller="POC" asp-action="ConfigurationExample">Loading config from json</a></li>
        </ol>
    </div>
</body>
