<p>recipe editing page</p>
@model recipe.Models.UpdateRecipeCommand

    <form method="post" asp-controller="Recipe" asp-action="UpdateRecipe">
        @Html.Partial("_EditRecipePartial")
        </form>
